# Core
numpy
pandas
matplotlib
seaborn

# Streamlit
streamlit

# Profiling & Visualization
plotly
sweetviz
ppscore

# Scikit-learn and ML Models
scikit-learn
xgboost
lightgbm
joblib

# Optional: to handle Excel file upload
openpyxl
