# Core
numpy==1.23.5
pandas==1.5.3
matplotlib==3.6.3
seaborn==0.12.2

# Streamlit
streamlit==1.31.1

# Visualization & Profiling
plotly==5.16.1
sweetviz==2.3.1
ppscore==1.3.0

# Machine Learning
scikit-learn==1.2.2
xgboost==1.7.6
lightgbm==3.3.5
joblib==1.2.0

# Excel support
openpyxl==3.1.2

# Required for Sweetviz internals
setuptools
